<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122167097029-spib1flpnbneu1t8n3fr2471evdo10hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122167097029-spib1flpnbneu1t8n3fr2471evdo10hd</string>
	<key>API_KEY</key>
	<string>AIzaSyBPVaOX87hurAR6ijTHDwN_XkHwYzwyCuU</string>
	<key>GCM_SENDER_ID</key>
	<string>122167097029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wesal</string>
	<key>PROJECT_ID</key>
	<string>wesal-9744f</string>
	<key>STORAGE_BUCKET</key>
	<string>wesal-9744f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122167097029:ios:5f5dc00fdf1e12c286e2ac</string>
</dict>
</plist>